@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ysabeau+Office:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto:wght@100&family=Ysabeau+Office:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Thasadith:ital@1&display=swap");
* {
  Margin: 0;
  Padding: 0; }

header {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse; }

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Edu SA Beginner', cursive;
  margin-left: 10px; }

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: brown; }

.navbar-toggler {
  background-color: brown; }

.logo-principal {
  transform: skew(25 deg); }

.collapse {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Edu SA Beginner', cursive;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.olor {
  display: flex;
  flex-direction: row;
  margin: auto; }

.mercaderia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.img1 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto1-productos {
  width: 100%;
  margin-bottom: 8px;
  object-fit: cover;
  cursor: pointer; }

.foto1-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img2 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto2-productos {
  width: 100%;
  object-fit: cover;
  cursor: pointer; }

.foto2-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img3 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto3-productos {
  width: 100%;
  object-fit: cover;
  cursor: pointer; }

.foto3-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img4 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto4-productos {
  width: 310px;
  height: 320px;
  object-fit: cover;
  cursor: pointer; }

.foto4-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img5 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto5-productos {
  width: 100%;
  height: 320px;
  object-fit: cover;
  cursor: pointer; }

.foto5-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img6 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 8px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto6-productos {
  width: 100%;
  height: 320px;
  object-fit: cover;
  cursor: pointer; }

.foto6-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img7 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px; }

.foto7-productos {
  width: 100%;
  height: 320px;
  margin-bottom: 5px;
  object-fit: cover;
  cursor: pointer; }

.foto7-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img8 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px; }

.foto8-productos {
  width: 100%;
  height: 320px;
  margin-bottom: 5px;
  object-fit: cover;
  cursor: pointer; }

.foto8-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img9 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-items: flex-start;
  border-radius: 10px; }

.foto9-productos {
  width: 100%;
  height: 320px;
  margin-bottom: 5px;
  object-fit: cover;
  cursor: pointer; }

.foto9-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img10 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px; }

.foto10-productos {
  width: 100%;
  height: 320px;
  margin-bottom: 5px;
  object-fit: cover;
  cursor: pointer; }

.foto10-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img11 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px; }

.foto11-productos {
  width: 100%;
  height: 320px;
  margin-bottom: 5px;
  object-fit: cover;
  cursor: pointer; }

.foto11-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.img12 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 10px; }

.foto12-productos {
  width: 100%;
  height: 320px;
  margin-bottom: 5px;
  object-fit: cover;
  cursor: pointer; }

.foto12-productos:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.contenedor {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  padding: 15px; }

.contenido {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  align-items: start;
  overflow: hidden;
  border: 3px solid black; }

.huevera-inicio {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-right-style: double; }

.mate-inicio {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-right-style: double; }

.azucarera-inicio {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-right-style: double; }

.buenviaje-inicio {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-right-style: double; }

form {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  border-radius: 15px;
  align-items: center;
  width: 200px;
  height: 320px;
  justify-content: space-evenly;
  background-color: lightblue;
  margin: 50px;
  font-family: 'Courier New', Courier, monospace; }

form a {
  color: #E893CF;
  text-decoration-line: none;
  margin-top: 5px; }

.buscador {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif; }

.buscador a {
  font-size: medium;
  color: black; }

.titulo2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  margin-top: 30px;
  text-align: center; }

input {
  width: 100%;
  margin: 5px;
  border: solid 1px black; }

input a {
  margin: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

::placeholder {
  position: center;
  text-align: center; }

.menu-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 800px;
  grid-auto-flow: row;
  grid-template-areas: "buscador contenido contenido" "buscador elegidos elegidos" "carrusel carrusel carrusel"; }

.menu-card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-wrap: wrap;
  margin: auto; }

.card {
  border-left: 2px black;
  border-right: 2px black; }

.contenido {
  grid-area: contenido; }

.buscador {
  grid-area: buscador; }

.elegidos {
  grid-area: elegidos; }

.carrusel {
  grid-area: carrusel; }

.card-body {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-style: double; }

.card {
  margin: 5px;
  background-color: gray;
  border-radius: 2px;
  border-style: groove; }

.card p {
  color: aliceblue;
  font-family: 'Thasadith', sans-serif; }

.card-title {
  color: darksalmon;
  font-family: 'Edu SA Beginner', cursive; }

.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.card:hover p {
  color: var(--text-color-hover); }

.imagenes-nosotros {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: flex-start;
  margin: 50px; }

.mi-clase {
  width: 50%;
  height: 50%; }

.d-block {
  width: 50%; }

.footer {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 150px;
  align-items: center; }

.wsp {
  width: 3%; }

.instagram {
  width: 3%; }

.facebook {
  width: 3%; }

/* ---------------------------------------PRINCIPAL------------------------------------------ */
body {
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.titulo-principal {
  font-family: 'Ysabeau Office', sans-serif, cursive;
  text-align: center;
  margin-top: 10px;
  text-align: center; }

/* ---------------------------------productos----------------------------------------- */
.encabezado {
  display: flex;
  border-color: aqua;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif; }

/* -------------Sobre nosotros--------------- */
.encabezadosobre {
  background-color: bisque; }
  .encabezadosobre .uno1 {
    width: 150px; }
  .encabezadosobre .dos2 {
    width: 150px; }
  .encabezadosobre .tres3 {
    width: 150px; }
  .encabezadosobre .logosobre2 {
    display: flex;
    margin: 50px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center; }

.carro {
  width: 35%;
  overflow: hidden; }

.mensaje {
  width: 35%;
  overflow: hidden; }

.camiones {
  width: 25%;
  overflow: hidden; }

.caracola {
  width: 10%; }

article p {
  width: 80%;
  margin: auto; }

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000; }

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px; }

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white; }

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px; }

.form-register a {
  color: white;
  text-decoration: none; }

.form-register a:hover {
  color: white;
  text-decoration: underline; }

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px; }

.mi-clase {
  width: 50%;
  height: 50%;
  margin: auto; }

.d-block {
  width: 50%; }

.carousel-indicators {
  width: 250px;
  margin: auto;
  height: 200px; }

/* --------------------------------------------envios-------------------------------- */
.envios {
  display: flex;
  justify-content: space-evenly; }

ol {
  border: solid 2px black;
  text-decoration: wavy;
  background-color: coral;
  margin: 5px; }

li a {
  font-family: 'Ysabeau Office', sans-serif, cursive; }

small {
  margin: 10px; }

/* ---------------------------------------------footer---------------------------------------- */
.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 150px;
  align-items: center; }

.wsp {
  width: 3%; }

.instagram {
  width: 3%; }

.facebook {
  width: 3%; }
