* {
  Margin: 0;
  Padding: 0; }

header {
  border: solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  background-color: grey; }

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif; }

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: brown; }

.navbar-toggler {
  background-color: brown; }

.logo-principal {
  transform: skew(25 deg); }

.collapse {
  display: flex;
  justify-content: space-around;
  margin: 10px; }

.olor {
  display: flex;
  flex-direction: row;
  margin: auto; }

.mercaderia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.img1 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto1 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img2 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto2 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img3 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto3 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img4 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto4 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img5 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto5 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img6 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto6 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img7 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center; }

.foto7 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img8 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start; }

.foto8 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img9 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-items: flex-start; }

.foto9 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img10 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start; }

.foto10 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img11 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start; }

.foto11 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.img12 {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  margin-top: 4px;
  display: flex;
  overflow: hidden;
  align-items: flex-start; }

.foto12 {
  width: 100%;
  margin-bottom: 5px;
  object-fit: cover; }

.contenedor {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  margin: 50px;
  padding: 15px; }

.contenido {
  width: 1000px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 400px;
  align-items: start;
  overflow: hidden;
  margin: 30px;
  border: 3px solid black; }
  .contenido .foto1 {
    width: 100%;
    height: 400px;
    overflow: hidden; }
    .contenido .foto1 .foto2 {
      width: 100%;
      height: 400px;
      overflow: hidden; }
      .contenido .foto1 .foto2 .foto3 {
        width: 100%;
        height: 400px;
        overflow: hidden; }
        .contenido .foto1 .foto2 .foto3 .foto4 {
          width: 100%;
          height: 400px;
          overflow: hidden; }
          .contenido .foto1 .foto2 .foto3 .foto4 .foto5 {
            width: 100%;
            height: 400px;
            overflow: hidden; }

form {
  display: flex;
  flex-direction: column;
  border: solid 2px rosybrown;
  align-items: center;
  width: 200px;
  height: 400px;
  justify-content: space-evenly;
  background-color: lightblue;
  margin: 30px;
  font-family: 'Courier New', Courier, monospace; }

form a {
  color: #E893CF;
  text-decoration-line: none; }

.buscador {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif; }

.buscador a {
  font-size: medium;
  color: black; }

.titulo2 {
  padding: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium; }

input {
  width: 100%;
  margin: 10px;
  border: solid #9376E0; }

input a {
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

::placeholder {
  position: center; }

.menu-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 600px;
  width: 800px;
  grid-auto-flow: row;
  grid-template-areas: "buscador contenido contenido" "buscador elegidos elegidos" "carrusel carrusel carrusel"; }

.menu-card {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 1030px;
  flex-wrap: wrap;
  margin: auto; }

.contenido {
  grid-area: contenido; }

.buscador {
  grid-area: buscador; }

.elegidos {
  grid-area: elegidos; }

.carrusel {
  grid-area: carrusel; }

.card {
  margin: 5px;
  background-color: gray;
  border-radius: 2px; }

.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color); }

.card:hover p {
  color: var(--text-color-hover); }

.imagenes-nosotros {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: flex-start;
  margin: 50px; }

.nosotros1 {
  width: 100%;
  margin: 5px;
  border: solid 2px #9376E0;
  transform: rotateZ(360deg);
  transition: all 8s; }

.nosotros2 {
  width: 100%;
  margin: 5px;
  border: solid 2px #9376E0;
  transform: rotateX(360deg);
  transition: all 10s; }

.nosotros3 {
  width: 100%;
  margin: 5px;
  border: solid 2px #9376E0;
  transform: rotateY(360deg);
  transition: all 12s; }

.img-nosotros2 {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  margin: 70px; }

.nosotros4 {
  width: 100%;
  margin: 10px;
  border: solid 2px #9376E0; }

.nosotros5 {
  width: 100%;
  margin: 6px;
  border: solid 2px #9376E0; }

.nosotros6 {
  width: 100%;
  margin: 6px;
  border: solid 2px #9376E0; }

.nosotros7 {
  width: 100%;
  margin: 6px;
  border: solid 2px #9376E0; }

.footer {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 150px;
  align-items: center; }

.wsp {
  width: 3%; }

.instagram {
  width: 3%; }

.facebook {
  width: 3%; }

/* ---------------------------------------PRINCIPAL------------------------------------------ */
body {
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); }

/* ---------------------------------productos----------------------------------------- */
.encabezado {
  display: flex;
  background-color: #9376E0;
  border-color: aqua;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif; }

/* -------------Sobre nosotros--------------- */
.encabezadosobre {
  background-color: bisque; }
  .encabezadosobre .uno1 {
    width: 150px; }
  .encabezadosobre .dos2 {
    width: 150px; }
  .encabezadosobre .tres3 {
    width: 150px; }
  .encabezadosobre .logosobre2 {
    display: flex;
    margin: 50px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center; }

.carro {
  width: 35%;
  overflow: hidden; }

.mensaje {
  width: 35%;
  overflow: hidden; }

.camiones {
  width: 25%;
  overflow: hidden; }

.caracola {
  width: 10%; }

article p {
  width: 80%;
  margin: auto; }

.contacto {
  height: 400px;
  display: flex;
  margin: 30px;
  border: solid 1px aqua;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: salmon; }

.mb-3 {
  display: flex;
  border: #9376E0; }

.cont {
  display: flex;
  justify-content: center;
  border: solid 1px aqua;
  margin: 30px;
  width: 100%; }

.form-control {
  border: #E893CF solid 2px; }

/* --------------------------------------------envios-------------------------------- */
.envios {
  display: flex;
  justify-content: space-evenly; }

ol {
  border: solid 2px #9376E0;
  text-decoration: wavy; }

small {
  margin: 10px; }

/* ---------------------------------------------footer---------------------------------------- */
