.footer {
    display: flex;
    width: 150px;
    justify-content: flex-end;
    flex-direction: row-reverse;
     margin-top: 150px;
     align-items: center;
}

        .wsp {width: 3%;}
        .instagram  {width: 3%;}
        .facebook {width: 3%;}
  
        

  