.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 150px;
}

        .wsp {width: 3%;}
        .instagram  {width: 3%;}
        .facebook {width: 3%;}
  
        

  