header { color: black;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap-reverse;
flex-direction: row-reverse;}

header a { text-decoration: none;
    text-transform: uppercase;
    font-family: 'Edu SA Beginner', cursive;
margin-left: 10px;}

    .navbar { width: 100%;
        display: flex;
        justify-content: space-around;
    color: brown;}

    .navbar-toggler { background-color: brown;}
    
    .logo-principal{transform: skew(25 deg);}
    .collapse { text-decoration: none;
        text-transform: uppercase;
        font-family: 'Edu SA Beginner', cursive;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; }