.menu-card { display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    // height: 600px;
    width: 800px;
    grid-auto-flow: row;
    grid-template-areas:
      "buscador contenido contenido"
      "buscador elegidos elegidos"
      "carrusel carrusel carrusel"
      ;
    } 
      .menu-card { display: flex;
        flex-wrap: wrap;
    width: 80%;
    // height: 1030px;
    flex-wrap: wrap;
    margin: auto;}

  .card { border-left: 2px black;
  border-right: 2px black;}
  
  .contenido { grid-area: contenido; }
  
  .buscador { grid-area: buscador; }
  
  .elegidos { grid-area: elegidos; }
  
  .carrusel { grid-area: carrusel; }

.card-body {background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
border-style: double;}
.card {
  margin: 5px;
background-color: gray;
border-radius: 2px;
border-style: groove;}

.card p { color: aliceblue;
  font-family: 'Thasadith', sans-serif;}

.card-title {color: darksalmon;
  font-family: 'Edu SA Beginner', cursive;}

  
.card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}


.card:hover p {
  color: var(--text-color-hover);
}

