.olor {display: flex;
    flex-direction: row;
    margin: auto;}

.mercaderia {display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}

.img1 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.foto1 {width: 100%;
margin-bottom: 5px;
object-fit: cover;}

.img2 {width: 300px;
    height: 300px;
    border: solid black 2px;
   margin-top: 4px;
   display: flex;
   overflow: hidden;
   align-items: center;}

.foto2 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}

.img3 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;}

.foto3 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}

.img4 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;}

.foto4 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}

.img5 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;}

.foto5 {width: 100%;
        margin-bottom: 5px;
        object-fit: cover;}

.img6 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;}

.foto6 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}

.img7 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: center;}

.foto7 {width: 100%;
        margin-bottom: 5px;
        object-fit: cover;}

.img8 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;}

.foto8 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}


.img9 {width: 300px;
    height: 300px;
    border: solid black 2px;
margin-top: 4px;
display: flex;
overflow: hidden;
align-items: center;
align-items: flex-start;}

.foto9 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}

.img10 {width: 300px;
        height: 300px;
        border: solid black 2px;
        margin-top: 4px;
        display: flex;
    overflow: hidden;
    align-items: flex-start;}

.foto10 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}

.img11 {width: 300px;
        height: 300px;
        border: solid black 2px;
        margin-top: 4px;
        display: flex;
        overflow: hidden;
        align-items: flex-start;}

.foto11 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}


.img12 {width: 300px;
    height: 300px;
    border: solid black 2px;
    margin-top: 4px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;}

.foto12 {width: 100%;
    margin-bottom: 5px;
    object-fit: cover;}
    